body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 50px;
    
}


.diddy {
 height: 300px;
 width: 250px;
  border-radius: 30px;
  transition: transform 0.5s ease; 
}
.diddy:hover {
  transform: scale(1.1); 
}
.car{
    height: 150px;
    width: 200px;
}
.container {
    background-color: red;
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
}


.bomb-alert-achu {
    background-color: #ffe6e6;
    color: red;
    border: 1px solid red;
    padding: 15px;
    margin-bottom: 20px;
    font-weight: bold;
}


input {
    padding: 10px;
    width: 60%;
    margin-right: 5px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}
