<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Bomb</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1 Message Bomb</h1>

        <div id="bomb-alert-achu" class="bomb-alert-achu" style="display: none;">
            <h2>SECRET FOUND </h2>
            <p id="secret-text" class="secret-text">...</p>
            <small>This Message has been deleted diddy</small>
        </div>

        <p id="status-text" class="status">Checking for messages</p>

        <hr>

        <div class="input-section">
            <h3>Leave a message for the next victim diddy</h3>
            <img src="{{ url_for('static', filename='diddy.png') }}" alt="Oil up" class="diddy"> <br> <br>
            <marquee scrollamount="20" direction="right">Kachowwww <img class="car" src="{{ url_for('static', filename='car.png') }}"></marquee>
            <input type="text" id="secret-input" placeholder="Say something nigga">
            <button onclick="plantBomb()">Plant Bomb</button>
        </div>
    </div>

    <script>
        //First function to fetch the message/checks for messages
        async function checkMessage() {
            try {
                const response = await fetch('/api/get_message');
                const data = await response.json();

                if (data.found === true) {
                    
                    document.getElementById('bomb-alert-achu').style.display = 'block';
                    // Insert the secret text
                    document.getElementById('secret-text').innerText = data.text;
                    // Update status
                    document.getElementById('status-text').innerText = "Status: BOOM Bomboclat"; 
                } else {
                    document.getElementById('status-text').innerText = "Status: No messages found. Safe to approach";
                }
            } catch (error) {
                console.error("Error connecting to server:", error);
            }
        }

        //Plant the bomb
        async function plantBomb() {
            const inputBox = document.getElementById('secret-input');
            const text = inputBox.value;

            if (text === "") return; 
            // Don't send empty messages. Please!

            await fetch('/api/plant', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ secret_message: text })
            });

            
            inputBox.value = "";
            alert("Bomb Planted. The next person is doooomed.");
        }

        checkMessage();
    </script>

</body>
</html>